.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("http://planeticerink.townsquareinteractive.com/files/2013/09/123076-1920x1200.jpg");
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 2.5em;
  color: #3F527E;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
